#products-body {
    width: 90%;
    margin: 0px 5% 0px 5%;
    display: grid;
    grid-template-columns: 1fr min(20%, 350px);
    grid-template-rows: 1fr;
}

#products-list {
    margin-top: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin-bottom: 25px;
    margin-right: 25px;
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-auto-rows: 350px;
    justify-content: space-between;
    row-gap: 25px;
}

#products-cart {
    grid-column: 2 / 3;
    grid-row: 1 / 1;

    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    height: 100%;
    box-sizing: border-box;
}

#products-innerCart {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
}

#products-innerCart h4 {
    padding: 25px 25px 25px 25px;
    margin: 0px;
    background-color: #EFEFEF;
}

#products-innerCart h5 {
    margin-left: 25px;
}

.products-innerCart-hover {
    background-color: #c2c2c2;
}

#products-cartBar {
    position: fixed; 
    bottom: 0px;
    /* fixed makes width relative to viewport 90% * 0.2% = 18% - 1px for border*/
    width: calc(min(18%, 350px) - 1px);
    background-color: #EFEFEF;
}

#products-cartBar button {
    background-color: #757252;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    width: calc(100% - 50px);
    margin: 0px 25px 25px 25px;
    color: white;
    cursor: pointer;
}

#products-cartBar button:hover {
    background-color: #696749;
}

#products-cartBar button:active {
    background-color: #5c5a3f;
    box-shadow: 1px 1px 0px gray;
}

@media screen and (min-width: 1415px) and (max-width: 1870px) {
    #products-list {
        grid-template-columns: repeat(3, 350px);
    }
}

@media screen and (min-width: 960px) and (max-width: 1414px) {
    #products-list {
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
    }
}

/* between 1000 to 1414 */

@media screen and (min-width: 730px) and (max-width: 959px) {
    #products-list {
        grid-template-columns: repeat(1, 350px);
        justify-content: center;
    }

    #products-body {
        grid-template-columns: 1fr 300px;
    }

    #products-cartBar {
        width: 299px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1414px) {
    #products-list {
        justify-content: space-between;
    }
}

@media screen and (max-width: 729px) {
    #products-list {
        grid-template-columns: repeat(1, 350px);
        justify-content: center;
        margin-right: 0px;
    }

    #products-body {
        grid-template-columns: 1fr;
    }

    #products-cart {
        display: none;
    }
}