#about-Body {
    width: 90%;
    margin: 25px 5% 0px 5%;
    font-family: "Fira Sans", sans-serif;
}

#about-Title {
    margin-left: 25px;
}

#about-Group {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    #about-Group {
        display: block;
    }
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
    #about-Gap {
        flex-grow: 3;
        width: 100%;
    }
}