.login-body {
    display: flex; 
    height: calc(100vh - 76px);
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
}

.login-inner {
    margin: 25px;
}

.login-card {
    position: relative;
    border: 1px solid lightgray;
    flex-wrap: wrap;
    height: min(50vh, 470px);
    width: min(50vw, 450px);
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.4s;
}

.login-input {
    border: 1px solid lightgray;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
}

.login-input:focus {
    outline: 1px solid gray;
}

.login-gap {
    margin-bottom: 35px;
}

.login-gap-button {
    color: #1F75CB;
    border: 0px;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 35px;
    user-select: none;
}

.login-gap-button:hover {
    border-bottom: 1px solid #1F75CB;
    margin-bottom: 34px;
}

.login-gap-button:active {
    background-color: lightgray;
}

.login-gap-message {
    color: red;
    margin-bottom: calc(35px - 1em);
}

.login-invalid {
    background-color: lightpink;
    border: 1px solid red;
}

.login-submit {
    position: absolute;
    background-color: #757252;
    border-radius: 5px;
    color: white;
    margin: 0px 25px 15px 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 3em;
    border: 0px;
    transition-duration: 0.1s;
    user-select: none;
    width: calc(100% - 50px);
}

.login-submit:hover {
    background-color: #696749;
    cursor: pointer;
}

.login-submit:active {
    background-color: #5c5a3f;
    box-shadow: 1px 1px 0px gray;
}

.login-inner div label {
    user-select: none;
    height: fit-content;
}

.login-inner div label input {
    scale: 1.3;
}

@media (width < 641px) {
    .login-card {
        width: 75%;
    }
}

/*
    For mobile screens
*/
@media screen and (max-width: 430px) {
    .login-card {
        width: 100%;
    }
}

@media screen and (max-height: 850px) {
    .login-card {
        height: 470px;
    }
}

@media screen and (max-height: 580px) {
    .login-body {
        height: calc(calc(76px + 600px) + 182.359px);
    }
}